html,body{
    margin: 0;
}

body{
    background: silver;
}

header{
    background:black;
}

.nav-container{
    color: white;
    display: flex;
    justify-content: space-between
}

.nav-container h4{
    margin: 15px 0px;
}

.nav-container ul{
    display: flex;
    list-style: none;
    margin: 15px 0px;
}

.nav-container li{
    padding-left: 10px;
}

.nav-container a{
    text-decoration: none;
    color: white;
}