html, body{
    margin: 0;
}

body{
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    background: black;
}

.header h2{
    color: white;
}

.header ul{
    display: flex;
    align-items: center;
}

.header li{
    list-style: none;
    margin: 0px 5px;
}

.header a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.hero{
    display: flex;
}

.hero-img-container{
    background: black;
    background-image: url(../img/hero-img.jpg);
    background-size: cover;
}

.hero-text-container{
    box-sizing: border-box;
}