/*Importacion de fuentes de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
/* '*' Selector universal, selecciona todo */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  margin: 1rem;
}

nav{
  background-color: #F8F8F8;
  border-bottom: 1px solid #333333;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

nav p{
  font-size: 1.25rem;
  text-align: center;
  color: #333333;
}

nav div{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

nav div a{
  text-decoration: none;
  color: black;
}

nav div a:hover{
  color: rgb(62, 62, 255);
}
/*Esto es un comentario en CSS*/
h2{
  color: red;
}

.clase{
  color: blue;
}

#id{
  color: green;
}

/*Unidades en CSS, (las mas usadas)
  px (pixeles, unidad fija)
  em (basado en el tamaño de la fuente, unidad dinamica)
  rem (basado en el tamaño de la fuente raiz, unidad dinamica)
  % (porcentaje, ocupa el tamaño de relativo al de su elemento padre, unidad dinamica)
  vw y vh (viewports, similar al porcentaje pero relativo al tamaño de nuestra pantalla)
  Hay muchos mas pero con estos nos basta de momento
*/
.tamaniopx{
  width: 100px;
  height: 50px;
  background-color: red;
}

.tamanioem{
  width: 1em;
  height: 0.5em;
  background-color: blue;
}

.tamaniorem{
  width: 1rem;
  height: 0.5rem;
  background-color: yellow;
}

.tamanioporcentaje{
  width: 80%;
  height: 40%;
  background-color: orange;
}

.tamanioviewport{
  width: 60vw;
  height: 10vh;
  background-color: green;
}

.texto{
  font-family: 'Montserrat', sans-serif; /*Indicar familia de la fuente*/
  font-size: 1.5rem; /*Tamaño de la fuente*/
  font-weight: 100; /*Peso de la fuente, que tan delgada o gruesa se ve*/
  font-style: italic; /*Estilo de la fuente*/
  text-decoration: line-through; /*Decoracion de la fuente...*/
  text-align: center; /*alineacion de la fuente, centro, izq, der, just */
  text-transform: uppercase; /*Transformar el texto a mayusculas, minusculas, capitalize...*/
}

.bordes{
  /*
    El margen es un espacio creado por fuera del borde del elemento
    representado en el inspector de color naranja
    al estar afuera del elemento el border y fondo no se ven afectados
  */
  margin: 0 auto;
  width: 400px;
  height: 150px;
  /*Abreviacion para aplicar borde en los 4 lados del elemento
    border: tamaño estilo color;
    podemos aplicar border especificos para cada lado;
    border-top: tamaño estilo color; borde superior
    border-right: tamaño estilo color; borde derecho
    border-bottom: tamaño estilo color; borde inferior
    border-left: tamaño estilo color; borde izquierdo
  */
  border: 1px solid black;
  /*
    Redondear bordes, para crear un circulo aplica 50%;
  */
  border-radius: 16px;
  background-color: #EEEEEE;
  /*
    crear sombras para los elementos
    ----------- ------- ------- opcional     opcional -----
    box-shadow: offsetX offsetY blur/borroso ruido    color;
  */
  box-shadow: 8px 6px 16px 8px rgba(51, 51, 51, 0.6);
}

.espacios{
  width: fit-content;
  /*
    Margin, espacio fuera del borde del elemento
    margin: 0; abreviacion para aplicar el mismo margen a todos los lados
    margin-top:; aplicar margen superior,
    margin-right:; aplicar margen derecho,
    margin-bottom:; aplicar margen inferior,
    margin-left:; aplicar margen izquierdo,
    ------- arriba/abajo izquierda/derecha
    margin:      0              0;
    ------Sentido en manecillas del reloj
    ------ arriba derecha abajo izquierda
    margin:   0      0      0      0;
  */
  margin: 1rem 20rem 0 40px;
  /*
    padding, espacio por dentro del borde del elemento
    padding: 0; aplicar el mismo padding a todos los lados
    mismas abreviaciones que margin.
  */
  padding: 40px 25px 10px 15px;
  border: 1px solid black;
  text-align: left;
}

.none{
  display: none;
}

.flex{
  display: flex;
  gap: 2rem;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-1{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: red;
}

.grid-2{
  grid-row: 1 / 3;
  background-color: blue;
}

.grid-3{
  background-color: green;
}

.grid-4{
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  background-color: yellow;
}

.grid-5{
  background-color: orange;
}

.boton{
  padding: 1rem 6rem;
  background-color: skyblue;
  border: none;
  border-radius: 4px;
  transition: all 500ms ease;
  cursor: pointer;
  text-transform: uppercase;
}

.boton:hover{
  transform: translateY(-20%);
  background-color: blue;
  color: white;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.7);
}

.boton:active{
  transform: translateY(0);
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.7);
}

.square{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 4px;
  animation: cuadrado 2s ease-in-out infinite alternate;
  margin: 2rem 0;  
}

@keyframes cuadrado {
  0%{
    transform: translateX(0);
  }
  100% {
    transform: translateX(80vw) rotate(360deg);
  }
}

.circles{
  margin: 4rem auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: circlesAni 2.5s linear infinite normal;
}

.bottomCircles{
  display: flex;
  gap: 2rem;
}

.circle-r, .circle-g, .circle-b{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle-r{
  justify-self: center;
  align-self: center;
  background-color: red;
  animation: circleRedAni 4s linear infinite alternate;
}

.circle-g{
  background-color: green;
}

.circle-b{
  background-color: blue;
  animation: circleBlueAni 2s linear infinite alternate;
}

@keyframes circlesAni{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes circleBlueAni{
  0%{
    border-radius: 50%;
  }
  100%{
    border-radius: 0;
  }
}

@keyframes circleRedAni{
  0%{
    background-color: red;
    transform: scale(1);
  }
  50%{
    background-color: pink;
    transform: scale(0.5);
  }
  100%{
    background-color: purple;
    transform: scale(1);
  }
}